<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KliczekPomocniczek.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="logPath" value="C:/TEMP/log.txt"/>
	</appSettings>
 <userSettings>
  <KliczekPomocniczek.Properties.Settings>
   <setting name="OpenListAfterCreating" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LocalizationOfFiles" serializeAs="String">
    <value />
   </setting>
   <setting name="LocalizationOfSavedList" serializeAs="String">
    <value />
   </setting>
  </KliczekPomocniczek.Properties.Settings>
 </userSettings>
</configuration>